/*========================================================
          Sitewide Styles
==========================================================*/

/*multiple selector*/
* {
  padding: 0;
  margin: 0;
}

/*Body Section*/
body {
  background-color: white;
  line-height: 1;
  padding-top: 50px;
}

/*========================================================
          Top Section - Navigation
========================================================*/
nav {
  background: #352d2f;
  font-family: 'Titillium Web', sans-serif;
  position: fixed;
  top: 0;
  min-height: 50px;
  width: 100%;
  z-index: 2;
}
.logo {
  background: #f63c3c;
  color: white;
  margin-left: 10%;
  padding: 9px 10px 10px;
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: white;
}

.navigation {
  display: inline-block;
  float: right;
  margin-right: 10%;
}

.navigation li {
  list-style: none;
  display: inline-block;
  margin-right: -4px;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 16px 20px;
}

li.active a {
  border-bottom: 3px solid white;
}

.navigation a:hover{
  border-bottom: 3px solid white;
  cursor: pointer;
}

/*========================================================
               Header Section
========================================================*/
header {
  background: #352d2f;
  font-family: 'Teko', sans-serif;
  min-height: 600px;
  color: white;
  text-align: center;
  position: relative;
}

header h1 {
  color: white;
  font-size: 80px;
  padding: 15% 0 5%;
  width: 60%;
  letter-spacing: 10px;
  text-align: center;
  margin: 0 auto;
}

header button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
}

header button span, button i {
  color: white;
}

/*========================================================
               Projects Section
========================================================*/
.explore {
  text-align: center;
  font-family: 'Teko', sans-serif;
  margin: 0 auto;
  padding: 3% 0;
  width: 60%;
}

.explore h2 {
  font-size: 30px;
  letter-spacing: 5px;
  padding: 0.6em 0;
  margin: 0 15px;
}

.explore button {
  background-color:  #f63c3c;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;

}



/*========================================================
               Spaces Section
========================================================*/
#projects {
  font-family: 'Teko', sans-serif;
  height: 600px;
}
.spaces {
  background: #f63c3c;
  color: white;
  width: 50%;
  height: 550px;
  float: left;
}

.spaces div {
  font-size: 14px;
  margin: 50% 10% 3%;
}

.spaces .title {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0 10%;
}

.model {
  background-color: #352d2f;
  color: white;
  width: 50%;
  height: 275px;
  float: right;
}

.curiosity {
  background: #30282a;
  color: white;
  width: 50%;
  height: 275px;
  float: right;
}

.model div, .curiosity div {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 20% 10% 0;
}

.spaces p, .model p, .curiosity p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: 0 10%;
  width: 45%;
}

.more {
  text-align: center;
  background: #30282a;
  /*control behavior of floating elements*/
  clear: both;
  padding: 10px 0;
}

.more a {
  border-bottom: 3px solid white;
  padding: 5px;
  font-size: 14px;

}

/*========================================================
               About Section
========================================================*/
#about {
  background-color: #fafafa;
  font-family: 'Teko', sans-serif;
  padding: 3% 0;
}

#about div {
  width: 35%;
  display: inline-block;
  margin-left: 10%;

}

#about div i {
  color: #f63c3c;
}

#about h3 {
  padding: 0.6em 0;
}

#about p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}

/*========================================================
               Connect Section
========================================================*/
.connect {
  padding: 3% 0;
  background: #fafafa;
}

.connect div {
  margin: 0 auto;
  width: 80%;
}

.connect h4 {
  font-size: 30px;
  font-family: 'Teko', sans-serif;
  padding: 0.6em 0;
}

.connect p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  margin: 0 0 1%;
}

.social-media a {
  background: #30282a;
  text-align: center;
  padding: 40px 74px;
}

.social-media a:nth-child(n+2) {
  margin-left: 2%;
}

.social-media h5 {
  padding: 0.6em 0;
}

/*========================================================
               Contact Section
========================================================*/
#contact {
  background: #30282a;
  text-align: center;
  padding: 150px;
}

#contact div {
  background: #f63c3c;
  margin: 0 auto;
  padding: 45px 25px;
  width: 35%;
  color: white;
  font-family: 'Teko', sans-serif;
}

#contact span {
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 2% 0 1%;
}

#contact a {
  padding: 0;
}


/*========================================================
               Footer Section
========================================================*/
footer {
  font-family: 'Teko', sans-serif;
  margin: 0 auto;
  padding: 0 0 3%;
  width: 65%;
}

footer h5 {
  padding: 0.6em 0;
  font-size: 16px;
}

footer ul {
  font-size: 12px;
  display: inline-block;
  padding-top: 5px;
}

footer div hr {
  border-top: 6px solid black;
}


footer a {
  color: black;
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
  padding: 1% 0;
}


.metro {
  float: left;
  margin: 3%;
  width: 20%;
}

.our-services {
  float: left;
  margin: 3% 0;
  width: 45%;
}

.our-services ul {
  float: left;
  width: 50%;
}

.our-works {
  float: left;
  margin: 3%;
  width: 20%;
}


/*********************** bottom section ******************************/
.copyright {
  border-top: 2px solid black;
  clear: both;
  padding-bottom: 3%;
}

.copyright span{
  float: left;
  font-size: 12px;
  padding: 3px 0 3%;
}

.copyright ul {
  float: right;
  border: none;
}

.copyright li {
  display: inline-block;
}


.copyright a {
  font-size: 12px;
}

/*================================================
            Meta Viewport Tag
================================================*/

@media(max-width: 620px) {
  /*Navigaton section*/
  .navigation {
    float: none;
  }

  .navigation a {
    padding: 16px 5px;
    font-size: 12px;
  }

  /*Header section*/
  header {
    min-height: inherit;
  }

  header h1 {
    font-size: 30px;
  }

  header button {
    padding: 5px;
  }

  header button span, button i {
    font-size: 10px;
  }

  /*Explore section*/
  .explore h2, .spaces .title,.model div, .curiosity div, .connect h4 {
    font-size: 24px;
  }

  .explore button {
    padding: 2% 3%;
    font-size: 12px;
  }

  /*About section*/
  .fa-cubes, .fa-fort-awesome {
    font-size: 1.5em;
  }

  #about div {
    width: 100%;
    margin-left: 5%;
  }

  #about h3 {
    font-size: 20px;
  }

  #about p, .connect p {
    font-size: 12px;
    line-height: 14px;
  }

  /*Stay connected section*/
  .connect {
    margin: 0;
    padding-left: 5%;
  }

  .connect div {
    width: 100%;
  }

  .social-media a {
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
  }

  /*Conctact section*/
  #contact {
    padding: 10%;
  }

  #contact div {
    width: 60%;
  }

  /*Footer Section */
  footer {
    width: 95%;
  }
}
